/*Custom Propities*/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    /*font-size: 1.6rem;*/
    line-height: 2;
}

/**Globales**/
.contenedor {
    max-width: 1200px;
    width: 90%;     /*width: min(90%, 120rem);*/
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
}
img {
    max-width: 100%;
}
/**Utilidades**/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/**Header**/
.webp .header {
    background-image: url(../img/banner.webp);
}
.no-webp .header {
    background-image: url(../img/banner.jpg);
}
.header {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 50px;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 150px;
    }
}

/**Barra**/
.barra {
    padding-top: 40px;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 20px;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--blanco);
}

/**Main**/
@media(min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 40px;
    }
}

/**Blog**/
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 20px;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}
/**Boton**/
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}
/**.curso**/
.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 20px;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 20px;
}
.widget-curso__info {
    font-weight: normal;
    font-size: 20px;
}

.footer {
    background-color: var(--negro);
    margin-top: 40px;
    padding-bottom: 30px;
}

/**Sobre nosotros**/
@media(min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
                        /*Uso de flexbox y sin gap
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: calc(50% - 10px);
    }*/
}

/**Cursos**/
.curso {
    border-bottom: 1px solid var(--gris);
    padding: 30px 0
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}
.curso:last-of-type {
    border: none;
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 2rem;
}
.curso__info {
    font-weight: normal;
    font-size: 2rem;
}

/**Contacto**/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -50px auto 0 auto;
    width: 95%;
    padding: 50px 50px 5px 50px;
}
.sombra {
    box-shadow: 0px 11px 10px 7px rgba(0,0,0,0.5);
}
.campo {
    display: flex;
    margin-bottom: 20px;
}
.campo__label {
    flex: 0 0 90px;
    text-align: right;
    padding-right: 20px;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 200px;
}